// Variables

// text
$text-color: hsl(238, 29%, 16%);
$text-hover-color: hsl(14, 88%, 65%);
$dividers-color: hsl(240, 5%, 91%);

// background
$background-color-1: hsl(273, 75%, 66%);
$background-color-2: hsl(240, 73%, 65%);

// card
$shadow-color: hsl(250, 48%, 48%);
$card-background-color: white;

// media queries
$mobile: 500px;
$desktop: 1440px;
