@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient($background-color-1, $background-color-2) fixed;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  color: $text-color;
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  margin: auto;
  background-color: $card-background-color;
  border-radius: 30px;
  box-shadow: 0 20px 40px 0 $shadow-color;
  margin: 15px;

  .background-illustration-container,
  .person-illustration-container,
  .box-illustration-container {
    width: 100%;
    height: 100%;
    > .illustration {
      width: 100%;
      height: 100%;
    }
  }

  .background-illustration-container {
    > .illustration {
      background: url("./../images/bg-pattern-desktop.svg") no-repeat;
    }
  }
  .person-illustration-container {
    > .illustration {
      background: url("./../images/illustration-woman-online-desktop.svg") no-repeat;
    }
  }
  .box-illustration-container {
    > .illustration {
      background: url("./../images/illustration-box-desktop.svg") no-repeat;
    }
  }

  .card-questions {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 45px;
    padding-left: 0;

    > h1 {
      padding: 15px 0px;
      font-weight: 700;
    }

    .question-and-answer-container {
      padding: 15px 15px 15px 0px;
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid $dividers-color;

      > .question-container {
        display: flex;

        > .question {
          flex-grow: 2;
        }
        > .question:hover {
          color: $text-hover-color;
          cursor: pointer;
        }

        > button {
          background: url("./../images/icon-arrow-down.svg") no-repeat;
          padding: 10px;
          background-position-y: center;
          background-position-x: center;
          border: none;
        }
      }

      &.expanded {
        button {
          transform: rotate(180deg);
        }
        .answer {
          display: block;
        }
        .question {
          font-weight: 700;
        }
      }
      &.collapsed {
        .answer {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  * {
    color: red;
  }

  .card {
    min-width: 250px;
    flex-direction: column;

    .card-illustration {
      height: 100px;
      position: relative;
      width: 100%;

      .background-illustration-container,
      .person-illustration-container,
      .box-illustration-container {
        position: absolute;
        height: 200px;
        width: 200px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }

      .background-illustration-container {
        top: -110px;
        .illustration {
          background-size: 200px;
        }
      }

      .person-illustration-container {
        top: -90px;
        .illustration {
          background-size: 200px;
        }
      }

      .box-illustration-container {
        .illustration {
          background-size: 70px;
        }
      }
    }
    .card-questions {
      padding: 15px;
      display: flex;
    }
  }
}
@media only screen and (min-width: $mobile) {
  * {
    color: blue;
  }
  .card {
    flex-direction: row;
    width: 900px;
    min-height: 507px;

    .card-illustration {
      position: relative;
      flex: 1;
    }

    .background-illustration-container {
      overflow: hidden;
      position: absolute;
      > .illustration {
        position: relative;
      }
    }

    .person-illustration-container {
      overflow: hidden;
      position: absolute;
      > .illustration {
        position: relative;
        left: -80px;
        top: 50%;
      }
      .box-illustration-container {
        position: absolute;
        > .illustration {
          position: relative;
        }
      }
    }
  }
}
