@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  min-height: 100vh;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 14px;
  color: hsl(238, 29%, 16%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  .card {
    display: flex;
    max-width: 900px;
    min-height: 507px;
    margin: auto;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 20px 40px 0 hsl(250, 48%, 48%);

    .card-illustration {
      min-width: 500px;
      min-height: 400px;
      position: relative;

      .background-illustration-container,
      .person-illustration-container,
      .box-illustration-container {
        width: 100%;
        height: 100%;
        > .illustration {
          width: 100%;
          height: 100%;
        }
      }

      .background-illustration-container {
        overflow: hidden;
        position: absolute;
        > .illustration {
          position: relative;
          background: url("./../images/bg-pattern-desktop.svg") no-repeat;
          background-position-x: -100px;
          background-position-y: 50px;
          background-size: cover;
        }
      }
      .person-illustration-container {
        overflow: hidden;
        position: absolute;
        > .illustration {
          position: relative;
          left: -80px;
          top: 80px;
          background: url("./../images/illustration-woman-online-desktop.svg") no-repeat;
        }
      }
      .box-illustration-container {
        position: relative;
        width: 100%;
        height: 100%;
        > .illustration {
          position: absolute;
          top: 215px;
          left: -93px;
          background: url("./../images/illustration-box-desktop.svg") no-repeat;
        }
      }
    }

    .card-questions {
      border: 1px solid red;
      display: flex;
      flex-direction: column;
      padding: 60px 60px 60px 0px;

      .question-and-answer-container {
        padding: 15px 15px 15px 0px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid hsl(240, 5%, 91%);

        > .question-container {
          display: flex;

          > .question {
            flex-grow: 2;
          }
          > button {
            background: url("./../images/icon-arrow-down.svg") no-repeat;
            padding: 10px;
            background-position-y: center;
            background-position-x: center;
            border: none;
          }
        }

        &.expanded {
          button {
            transform: rotate(180deg);
          }
          .answer {
            display: block;
          }
          .question {
            font-weight: 700;
          }
        }
        &.collapsed {
          .answer {
            display: none;
          }
        }
      }
    }
  }
}
